<div>
    <md-content flex layout-padding>
        Logged in as : {{username}}
    </md-content>
    <md-input-container>
        <label>Type your message</label>
        <textarea  autofocus id="message" cols="50" rows="5" ng-model="message"></textarea>
        <md-button class="md-raised md-primary" type="submit" ng-click="sendMsg()">Send</md-button>
    </md-input-container>
    <p style="text-align: center">Chat:</p>
    <md-content>
        <div id="chatArea" chat-scroll>
            <md-card ng-repeat="message in messages track by $index" ng-class="message.author == username ? 'mine' : 'others'">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{message.author}} said:</span>
                        <span class="md-subhead">{{message.time | date : "mediumTime"}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>{{message.content}}</p>
                </md-card-content>
            </md-card>
        </div>
    </md-content>

</div>
