.mine {
    text-align: left;
    /*padding: 0px;*/
    margin-bottom: 10px;
    background-color: #40C4FF!important;
}
.others {
    text-align: right;
    margin-bottom: 10px;
    background-color: #CDDC39!important;
}
p {
    word-break: break-all;
}
#chatArea {
    height: 450px;
}